<nav class="navber navbar-inverse navbar-static-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="posts">Simple Social Network</a>
       </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-hide="!isLoggedIn">
                    <a ui-sref="profile()">Profile</a>
               </li>
                <li ng-hide="!isLoggedIn">
                    <a ui-sref="notifications">Notifications {{notifications.length}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn">
                   <a ui-sref="login" class="dropdown-toggle margin-left" data-toggle="dropdown"><strong class="glyphicon glyphicon-user"></strong>Login</a>
               </li>
               <li ng-hide="!isLoggedIn">
                   <a ui-sref="logout">Logout</a>
    Add a comment to this line
               </li>
                <li ng-hide="isLoggedIn">
                   <a ui-sref="register">Register</a>
                </li>

           </ul>
        </div>
    </nav>