<div class="col-md-12">
    <div class="row">
        <div>
            <textarea class="form-control" rows="5" ng-model="newPost.content">
            </textarea>
        </div>

        <div class="pull-right">
            <button class="btn btn-primary" ng-click="postStatus()">
                Post
            </button>
        </div>
    </div>
    <div class="row" ng-repeat="post in posts">
        <div>
           <a ui-sref="profile({id: post.user.id})">{{post.user.username}}</a> at {{post.dateCreated | date: 'MMM dd, yyyy HH:mm'}}
        </div>
        <div>
            {{post.content}}
        </div>
        <div><button class="btn btn-primary" ng-click="like(post.id)">+Like</button></div>
        <div ng-show="post.likers.length" >
            <small ng-repeat="liker in post.likers" >

                <a ui-sref="profile({id:liker.id})" ng-if="!$last">{{liker.username}}, </a>
                <a ui-sref="profile({id:liker.id})" ng-if="$last"> {{liker.username}} </a>

            </small>
            <small>liked this</small>
        </div>
        <hr>
    </div>
</div>
