<h1>{{user.username}}</h1>
<div class="row">
    <strong>Followers:</strong>
    <ul ng-repeat="follower in user.followers">
        <a ui-sref="profile({id: follower.id})"></ag><li>{{follower.username}}</li></a>
    </ul>
</div>
<div class="row">
    <strong>Following:</strong>
    <ul ng-repeat="followed in user.followedUsers">
        <a ui-sref="profile({id: followed.id})"><li>{{followed.username}}</li></a>
    </ul>
</div>

<hr>
<div class="col-md-12">
    <div class="row" ng-show="user.isCurrentUser()">
        <div>
            <textarea class="form-control" rows="5" ng-model="newPost.content">
            </textarea>
        </div>

        <div class="pull-right">
            <button class="btn btn-primary" ng-click="postStatus()">
                Post
            </button>
        </div>

    </div>
    <div class="row" ng-repeat="post in user.posts">
        <div>
            <a ui-sref="profile({id: post.user.id})">{{user.username}}</a> at {{post.dateCreated | date: 'MMM dd, yyyy HH:mm'}}
        </div>
        <div>
            {{post.content}}
        </div>
        <hr>
    </div>
</div>
